In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
banglore_house_price_df = pd.read_csv('Bengaluru_House_Data.csv')
banglore_house_price_df.head(25)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4.0,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,NaN,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3.0,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6.0,NaN,370.00
10,Super built-up Area,18-Feb,Whitefield,3 BHK,NaN,1800,2.0,2.0,70.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2.0,1.0,38.00
13,Built-up Area,Ready To Move,Gottigere,2 BHK,NaN,1100,2.0,2.0,40.00
14,Plot Area,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250,3.0,2.0,148.00
15,Super built-up Area,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175,2.0,2.0,73.50
16,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180,3.0,2.0,48.00
17,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540,3.0,3.0,60.00
18,Super built-up Area,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770,4.0,2.0,290.00
19,Super built-up Area,Ready To Move,Manayata Tech Park,2 BHK,NaN,1100,2.0,2.0,48.00
20,Built-up Area,Ready To Move,Kengeri,1 BHK,NaN,600,1.0,1.0,15.00
21,Super built-up Area,19-Dec,Binny Pete,3 BHK,She 2rk,1755,3.0,1.0,122.00
22,Plot Area,Ready To Move,Thanisandra,4 Bedroom,Soitya,2800,5.0,2.0,380.00
23,Super built-up Area,Ready To Move,Bellandur,3 BHK,NaN,1767,3.0,1.0,103.00
24,Super built-up Area,18-Nov,Thanisandra,1 RK,Bhe 2ko,510,1.0,0.0,25.25

In [3]:
banglore_house_price_df.shape

(13320, 9)

In [4]:
banglore_house_price_df.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [6]:
banglore_house_price_df_new = banglore_house_price_df.drop(['area_type','society','balcony','availability'],axis = 'columns')
banglore_house_price_df_new.head(25)

                    location       size total_sqft  bath   price
0   Electronic City Phase II      2 BHK       1056   2.0   39.07
1           Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                Uttarahalli      3 BHK       1440   2.0   62.00
3         Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                   Kothanur      2 BHK       1200   2.0   51.00
5                 Whitefield      2 BHK       1170   2.0   38.00
6           Old Airport Road      4 BHK       2732   4.0  204.00
7               Rajaji Nagar      4 BHK       3300   4.0  600.00
8               Marathahalli      3 BHK       1310   3.0   63.25
9               Gandhi Bazar  6 Bedroom       1020   6.0  370.00
10                Whitefield      3 BHK       1800   2.0   70.00
11                Whitefield  4 Bedroom       2785   5.0  295.00
12        7th Phase JP Nagar      2 BHK       1000   2.0   38.00
13                 Gottigere      2 BHK       1100   2.0   40.00
14                  Sarjapur  3 Bedroom       2250   3.0  148.00
15               Mysore Road      2 BHK       1175   2.0   73.50
16             Bisuvanahalli      3 BHK       1180   3.0   48.00
17     Raja Rajeshwari Nagar      3 BHK       1540   3.0   60.00
18     Ramakrishnappa Layout      3 BHK       2770   4.0  290.00
19        Manayata Tech Park      2 BHK       1100   2.0   48.00
20                   Kengeri      1 BHK        600   1.0   15.00
21                Binny Pete      3 BHK       1755   3.0  122.00
22               Thanisandra  4 Bedroom       2800   5.0  380.00
23                 Bellandur      3 BHK       1767   3.0  103.00
24               Thanisandra       1 RK        510   1.0   25.25

In [7]:
banglore_house_price_df_new.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [33]:
bath_col_median = banglore_house_price_df_new[['bath']].median()
banglore_house_price_df_new['bath'].fillna(bath_col_median,inplace = True)
banglore_house_price_df_new['size'].fillna(0,inplace = True)

In [60]:
banglore_house_price_df_new['size'].str.split(' ')

SyntaxError: invalid syntax (923680401.py, line 1)

In [52]:
banglore_house_price_df_new[banglore_house_price_df_new['size'] == 0]['size']

579      0
1775     0
2264     0
2809     0
2862     0
5333     0
6423     0
6636     0
6719     0
7680     0
8306     0
8565     0
8703     0
10634    0
11019    0
11569    0
Name: size, dtype: object

In [47]:
for i in range(0,len(banglore_house_price_df_new['size'].unique())):
    if type(banglore_house_price_df_new['size'].unique()[i]) == 'str':
        print(banglore_house_price_df_new['size'].unique()[i])

In [36]:
banglore_house_price_df_new['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', 0, '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)